<!-- components/navbar.html -->
<div class="navbar bg-base-100 max-w-screen-lg mx-auto rounded-3xl shadow-xl" style="margin-top: 80px !important;">
    <div class="flex-1">
        <a class="btn btn-ghost text-xl">AquaGrade</a>
    </div>
    <div class="flex-none">
        <ul class="menu menu-horizontal px-1">
            <li><a><b>Home</b></a></li>
            <li>
                <details>
                    <summary><b>Your Scans</b></summary>
                    <ul class="bg-base-100 rounded-t-none p-4">
                        <li><a>Single Scans</a></li>
                        <li><a>Batch Scanning</a></li>
                    </ul>
                </details>
            </li>
        </ul>
    </div>
</div>
