<div class="flex flex-col items-center w-[15%]">
  <button
    class="btn bg-gradient-to-r from-red-500 to-pink-600 text-white hover:bg-pink-700 hover:shadow-pink-300 shadow-md rounded-full text-xl h-[80px] px-4 w-full transition-all duration-300 ease-in-out font-bold relative transform hover:scale-105"
  >
    NOT FRESH
    <div
      class="badge badge-secondary text-lg bg-white text-black rounded-full px-2 py-3 absolute top-0 right-3 translate-x-1/2 -translate-y-1/4"
    >
      +99
    </div>
  </button>
</div>
