<div class="relative w-96 h-96 mt-20">
    <div class="skeleton h-[500px] w-full bg-gray-300 animate-pulse absolute top-0 left-[380px] rounded-3xl"></div> <!-- Moved more right -->
    <div class="skeleton h-[250px] w-full bg-gray-300 animate-pulse absolute top-0 left-[-80px] rounded-3xl"></div> <!-- Moved more right -->
    <div class="skeleton h-[100px] w-[300px] bg-gray-300 animate-pulse absolute top-72 left-[10px] rounded-full"></div> <!-- Moved more right -->
    <div class="skeleton h-[100px] w-[300px] bg-gray-300 animate-pulse absolute top-[400px] left-[10px] rounded-full"></div> <!-- Moved more right -->

    <div class="skeleton h-[72px] w-[300px] bg-gray-300 animate-pulse absolute left-[-430px] top-[80px] text-right"></div>
    <div class="skeleton h-[48px] w-[300px] bg-gray-300 animate-pulse absolute left-[-430px] top-[175px] text-right"></div>

    <div class="flex gap-4 absolute left-[-310px] top-[270px] justify-end">
        <div class="skeleton h-[80px] w-[80px] bg-gray-300 animate-pulse rounded-full"></div>
        <div class="skeleton h-[80px] w-[80px] bg-gray-300 animate-pulse rounded-full"></div>
    </div>
</div>
